---
import Layout from '../../layouts/Layout.astro'
import { load } from "cheerio";
import hljs from "highlight.js";
import "highlight.js/styles/tokyo-night-dark.css";
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
    query: {
      select: ['title', 'slug', 'body'],
    },
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props

const $ = load(article.body);
$("pre code").each((_, elm) => {
  const result = hljs.highlightAuto($(elm).text());
  $(elm).html(result.value);
  $(elm).addClass("hljs");
});
article.body = $.html();
---

<Layout title={article.title} description="投稿詳細ページです">
  <main class="pt-20 m-auto max-w-screen-md w-[calc(100%-2rem)] text-white">
    <h2>{article.title}</h2>
    <article set:html={article.body} />
  </main>
</Layout>
