---
import Layout from '../../layouts/Layout.astro'
import { load } from "cheerio";
import hljs from "highlight.js";
import "highlight.js/styles/tokyo-night-dark.css";
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'
import dayjs from "dayjs";
import 'dayjs/locale/ja';
dayjs.locale('ja');

export const getStaticPaths = async () =>{
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
    query: {
    select: ['title', 'slug', 'createdAt', 'body'],
    },
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props

const $ = load(article.body);
$("pre code").each((_, elm) => {
  const result = hljs.highlightAuto($(elm).text());
  $(elm).html(result.value);
  $(elm).addClass("hljs");
});
article.body = $.html();
---

<Layout title={article.title} description="投稿詳細ページです">
  <main class="pt-20 m-auto max-w-2xl w-[calc(100%-2rem)] text-white">
    <h2 class="text-xl">{article.title}</h2>
    <article set:html={article.body} class="pt-2 leading-relaxed" />
    <div class="text-right pt-2">
      <time class="text-sm text-gray-400">{dayjs(article.createdAt).format('YYYY年MM月DD日(ddd)')}</time>
    </div>
  </main>
</Layout>
