<footer>
  <div class="py-6 sm:px-4 m-auto max-w-2xl w-[calc(100%-2rem)] border-t border-gray-600">
    <p class="text-balance text-center text-sm leading-loose text-gray-400 md:text-left">
      Built by <a href="https://github.com/Gyozadaigaku" target="_blank" rel="noreferrer" class="underline underline-offset-4">Gyozadaigaku</a>.
    </p>
  </div>
</footer>
